name: tests-ubuntu
on:
  push:
    branches: [main]
  pull_request:

jobs:
  ubuntu:
    name: Ubuntu 18.04
    runs-on: ubuntu-18.04
    steps:
    - name: Swift version
      run: swift --version
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build
      run: swift build -v
    - name: Test
      run: swift test -v
    - name: Build (opt)
      run: swift build -v -c release
